body {
    background-color: #4e17cf;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
  }
  
  * {
    font-family: "Bricolage Grotesque", sans-serif;
  }
  
  .flex {
    display: flex;
  }
  
  .flex.row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .flex.column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
   
  nav {
    width: 100%;
  }
  
  p {
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    color: white;
    font-size: 25px;
  }
  
  .bar {
    height: 100%;
    width: 0%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    z-index: -5;
  }
  
  h1 {
    font-size: 10vw;
    position: absolute;
    top: calc(100vh - 50vw);
    font-weight: 800;
    left: 20px;
    line-height: 1;
    letter-spacing: -5px;
    color: white;
  }
  
  h2 {
    font-size: 40px;
    line-height: 1;
    color: white;
  }
  
  #hero {
    height: 75vh;
    padding-bottom: 25vh;
  }
  
  #part1 {
    font-size: 20px;
    width: 100%;
    padding-bottom: 25vh;
  }
  
  .part1-info {
    width: 100%;
    gap: 40px;
    padding: 1%;
  }

  .image-container {
    width: 100%; /* or any specific width */
    height: 0;
    padding-top: 56.25%; /* 9/16 = 56.25% for a 16:9 aspect ratio */
    position: relative;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* this ensures the image covers the whole area, maintaining its aspect ratio */
  }
  
  button {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    font-size: 18px;
    font-weight: 200;
    width: 100%;
    border-radius: 10px;
    padding: 20px 0;
    cursor: pointer;
    color: white;
  }
  
  button:hover {
    border: 1px solid white;
  }
    
  #part3 {
    justify-content: flex-end !important;
    align-items: center !important;
    margin-bottom: 50px;
  }
  
  a {
    color: white;
  }
  
  .scroll-icon {
    height: 50px;
    width: 35px;
    border: 1px solid white;
    border-radius: 100px;
    padding: 5px 14px 20px 14px;
    box-sizing: border-box;
  }
  
  .scroll {
    height: 10px;
    width: 5px;
    border-radius: 10px;
    background-color: white;
  }
  
  .key {
    display: inline-block;
    letter-spacing: -2vw;
    transition: transform 0.2s;
  }
  
  @keyframes pressDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
  
  @media screen and (max-width: 1000px) {  
    h1 {
      top: 20vw;
      font-size: 15vw;
    }
  
    .part1-info,
    .part2-info {
      width: 100%;
    }
  
    h2 {
      font-size: 5vw;
    }

    body{
      width: 100%;
    }
  }